
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}

* {
  box-sizing: border-box;
}

br {
    padding: 10px;
    margin: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #3eb5ca;
  padding: 30px;  
  text-align: center;
  font-size: 40px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: block;
  width: 100%;
  background-color: rgba(58, 58, 61, 0.61);
  padding: 1%;
  margin: 2% 0;
}

section h2 {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1%;
    color: #fff;
}

p {
  text-align: center;
  display: block;
  font-size: 1.2em;
  padding: 1% 0;
  color: #fff;
}

span {
    color: rgb(35, 35, 228);
    font-size: 1.3em;
}

.city-weather {
    text-align: center;
}

footer {
    font-size: 35px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}